body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    background-color:#222222;
    opacity: 90%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.bgImg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

#weather {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    font-weight: 400;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; 
} 

.container h2 {
    margin: 0;
    position: absolute; top: 0;
    transform: translate(-50%, -120%);
    height: 200px;
    width: 800px;
    
    font-size: 18ex;
    font-weight: light;
}

.content {
    margin: 0;
    position: absolute;
    top: 200px;
    transform: translate(-50%, -60%);
    height: 400px;
    width: 800px;
    
}

/*login-form style*/
.greetingForm_group {
  position: relative;
  padding: 15px 0 0;
  margin: 10px 0;
  width: 100%;
}

.form_field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: 0;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
}

.greetingForm_group input::placeholder {
    color: #fff;
}

.greetingForm_group input:focus ~ .greetingForm_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    color: #38ef7d;
}

.greetingForm_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
  }

.form_field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #38ef7d, #1F75FE);
  border-image-slice: 1;
}

/* reset input */
.form_field:required { box-shadow:none; }
.form_field:invalid { box-shadow:none; }

#todo-form input{
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    font-size: 20px;
    line-height: 45px;
    height: 50px;
    text-align: center;
    padding: 3px;
    background: transparent;
    color: #fff;
}

#todo-form input:focus {
    outline: 0;
    color: #38ef7d;
    border-width: 3px;
    border-image: linear-gradient(to right, #38ef7d, #1F75FE);
    border-image-slice: 1;
}

#todo-form input::placeholder {
    color: #f5f5f5;
}

#quote {
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 50px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: rgb(245, 238, 220);
}

footer {
    margin: 0;
    padding: 0;
    bottom: 0;
    display: block;
    font-size: 15px;
    text-align: center;
}

footer a:link {
    color: #38ef7d;
}

footer a:visited {
    color: rgb(39, 73, 66);
}